body {

  background-color: var(--background-primary);
}

body main {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}
.container {
  padding: 2rem;
  width: 100%;
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.justify-center {
  display: flex;
  justify-content: center;
}

body main header {
  display: grid;
  gap: 1rem;
}

body main header span {
  color: var(--color-brand);
  font: var(--txt-sm);
  display: flex;
  align-items: center;
}

body main header h1 {
  color: var(--content-primary);
  font: var(--title);
}


.input-wrapper{
  display: grid;
  gap: 1rem;
}

body main form input {
  all: unset;
  font: var(--content-tiertary);
  border: .125rem solid var(--border-primary);
  border-radius: .75rem;
  height: 2.75rem;
  font: var(--txt-sm);
  padding-inline: 1.125rem;

  &:hover {
    border-color: var(--border-hover);
  }

  &:focus{
    border-color: var(--color-brand);
  }
}

.btn {
  background-color: var(--color-brand);
  outline: none;
  border: none;
  border-radius: .75rem;
  color: var(--always-white);
  font: var(--label);
  height: 2.75rem;

  &:hover {
    background-color: var(--color-brand-hover);
  }
}


ul[role="list"]{
  list-style: none;
  display: grid;
  gap: .75rem;
  max-height: 14.5rem;
  overflow: auto;
  padding-right: .5rem;
  /* margin-top: 1.1rem; */

  &::-webkit-scrollbar {
      width: 4px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: var(--background-secondary);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-brand);
      border-radius: 9999px;
    }
}

.product {
  display: flex;
  justify-content: space-between;
  height: 3.625rem;
  align-items: center;
  background-color: var(--background-secondary);
  border-radius: .75rem;
  padding: .5rem .75rem;

  & div {
    display: flex;
    gap: .75rem;
    align-items: center;

    & span {
      width: 1rem;
      height: 1rem;
      position: relative;
      background: url(../assets/icons/check-default.svg) no-repeat center/cover;

      &:hover {
      background: url(../assets/icons/check-hover.svg) no-repeat center/cover;
      }

      &:has(input:checked){
      background: url(../assets/icons/check.svg) no-repeat center/cover;
      }
      
      & input {
      opacity: 0;
      position: absolute;
      inset: 0;
    }

    
  }

  & p {
    color: var(--content-secondary);
    font: var(--txt-md);
  }
  }

  & img {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
  }
}

footer {
  margin-top: 1.5rem;
  background-color: var(--color-danger);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem;
  height: 2.75rem;
  border-radius: .75rem;

  & img {
      width: 1.25rem;
      height: 1.25rem;
      object-fit: cover;
    }

  & div {
    display: flex;
    align-items: center;
    gap: .5rem;

   

    & span{
      color: var(--always-white);
      font: var(--label);
    } 
  }
}




@media (width >= 80em){
  .desktop-only{
    display: initial;
  }

  .input-wrapper{
    grid-template-columns: 72% 26%;
  }

  .container {
      padding: 2rem;
      max-width: 40rem;
  }

  .product {
    height: 3.125rem;
  }
}