*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
:root {
  --background-primary: #F4F5FB;   
  --background-secondary: #FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tiertary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;


  --ff-sans: "Inter", sans-serif;

  --txt-lg: 700 1.5rem/200% var(--ff-sans); 
  --label: 600 1rem/125% var(--ff-sans);
  --txt-md: 500 1rem/125% var(--ff-sans);
  --txt-sm: 500 .875rem/100% var(--ff-sans);

}